body{
    font-family: 'Roboto Slab', serif !important;
    overflow-x: hidden; /* keep an eye on it */
}

a,p,h1,h2,h3,h4{
    color: #2c2b2b !important;
}

.page { 
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* mobile styles */
.nav-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav{
    background-color: rgba(255, 255, 255, 0.829);
    position: absolute !important;
}

.landingPageBG{
    background-image: url(/src/images/b1234.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.hero-text{
    background: white;
    height: 100%;
    width: 100%;
    padding: 3.5rem 1.2rem 0;
    text-align: center;
}
.hero-text h1{
    font-size: 24px;
    font-weight: 100;
}
.bold{
    font-weight: 300;
}
.hero-text p, .toggle-clients{
    padding-top: 30px;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 13px;
}

.grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 192px));
}
.clients img{
    width: 100%;
}
.client-icon{
    margin: 1rem;
}

.toggle-clients{
    margin-top: 2rem;
    color: #f3b25e !important;
    border-bottom: 1px solid #f3b25e;
}
.toggle-clients:hover{
    color: black !important;
    border-bottom: 1px solid black !important;
    cursor: pointer;
}

.footer{
    background: #e5e5e5;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    text-align: center;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    padding: 0;
}
.footer-nav a{
    text-decoration: none;
    margin: 0.5rem;
}
.footer-socials{
    display: flex;
}
.social{
    margin: 0.5rem;
}
.contact-info{
    padding: 1rem 0.5rem;
    text-align: center;
    line-height: 2;
}
.copyright{
    font-size: 10px;
}

/* small tablet styles */
@media screen and (min-width: 450px){
    .footer-nav ul{
        flex-direction: row;
    }
}

@media screen and (min-width: 620px) {
    nav{
        width: 80%;
        position: absolute;
        margin: 0 auto;
        top: 1.5rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .myNav a{ 
        display: flex;
        align-items: center;
    }
    .hero-text{
        position: relative;
        top: -50px;
        width: 700px;
    }
    .hero-text h1{
        font-size: 50px;
    }
}

/* large tablets and laptop styles */
@media screen and (min-width: 992px) {
    .myNav a {
        height: 86px;
    }
    .contact-us{
        background: #f3b25e;
    }
    .footer-logo{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-socials{
        width: 80%;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1058px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}



/* desktop styles */
@media screen and (min-width: 1200px) {
    
}